PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/url_shortener?retryWrites=true&w=majority
REDIS_URL=redis://default:<password>@<redis-host>:6379
BASE_URL=http://localhost:5000
